.vertical-menu {
    float: none;
    background-color: #D9857E;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 40px;
    position: fixed;
    width: 100%;
}

.vertical-menu a {
    font-family: 'Kodchasan', sans-serif;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    float: left;
    width: 18%
}

.vertical-menu a:hover {
    color: #A63B32;
}

.pair {
    float: left;
    margin: 20px;
    text-align: center;
}

.edit{
    float:none;
}

.img{
    max-width: 40%;
    margin:20px;
}
.before-after{
    font-size: 50px;
    font-family: 'Kodchasan', sans-serif;
    margin:20px;
    width: 40%;
    float: left;
    text-align: center;
}


.text-before-after{
    font-size: 15px;
    font-family: 'Kodchasan', sans-serif;
    margin:20px;
    max-width: 40%;
    float: left;
    text-align: center;
}

.div-before-after{
    text-align:center;
}

.vertical-menu a.active {
    background-color: #BF5A50;
}

.index-title {
    text-align: center;
}

.total_content {
    padding: 20px;
}

.content {
    font-family: 'Kodchasan', sans-serif;
    margin: auto;
    width: 60%;
    padding-top: 2vw;
    color: black;
}

.content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.text {
    width: 50%;
    font-size: 14px;
    padding-top: 2vw;
    margin: auto;
    padding-bottom: 2vw;
}

.livestream {
    text-align: center;
}

body {
    background-color: #D9D9D9;
    margin: 0;
}

.footer {
    height: 40px;
    background-color: #D9857E;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.textFooter {
    font-family: 'Kodchasan', sans-serif;
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width: 100px;
}
